header{
    text-align: center;
    color:black;
    font-size: 25px;
    margin: 3px 0px 10px 0px auto;
}
p{
    text-align: center;
    font-size:1.2em;
}
table{
    
    text-align: center;
    border: 1px solid gray;
    margin: 10px 0px 0px 0px;
    color: black;
    
    
}

.xd{
     color:aliceblue;
    background-color: black;
    text-align: center;
    border: 20px solid black;
    padding: 0px 0px 0px 50px;
}
.tata{
    padding: 0px 50px 20px 50px;
}

table.Tabla2{
    text-align: center;
    border: 1px solid gray;
    margin: 15px 105px 100px 400px;
    color: black; 
    
}
.Tabla4{
    color:aliceblue;
    background-color: black;
    text-align: center;
    border: 20px solid black;
    
}
table.Tito{
   color:aliceblue;
    background-color:#fff;
    text-align: center;
    border: 1px solid gray;
    margin: 15px 105px 50px 155px;
    color: black; 
}
.Tito2{
    color:aliceblue;
    background-color: 
    black;
    text-align: center;
    border: 20px solid black;
}
h1{
    text-align: center;
}
table.chepa{
    color:blueviolet;
    background-color:#fff;
    text-align: center;
    border: 1px solid gray;
    margin: 15px 105px 100px 310px;
    color: black; 
}
.chepa2{
   color:aliceblue;
    background-color: black;
    text-align: center;
    border: 20px solid black;
}
table.holi{
    color:blueviolet;
    background-color:#fff;
    text-align: center;
    border: 1px solid gray;
    margin: 15px 105px 100px 280px;
    color: black; 
}
.holi2{
    color:aliceblue;
    background-color: black;
    text-align: center;
    border: 20px solid black;
}
.joa{
    background-color: lightskyblue;
}
.x{
    background-color:#E8E8E8;
}
.uno{
    background-color:#E8E8E8;  
}
.dos{
    background-color:lightskyblue; 
}
.tres{
    background-color:lightskyblue; 
}
.cuatro{
    background-color: #E8E8E8;
}
.cinco{
    background-color:#E8E8E8; 
}
.seis{
    background-color: lightskyblue;
}
.siete{
    background-color: lightskyblue
}
.ocho{
    background-color:#E8E8E8;
}
.nueve{
    background-color:#E8E8E8; 
}
.dies{
    background-color:lightskyblue; 
}
.once{
    background-color:lightskyblue; 
}
.doce{
    background-color:#E8E8E8; 
}
.trece{
    background-color:#E8E8E8; 
}
.catorce{
    background-color:lightskyblue;
}
.quince{
    background-color:lightskyblue; 
}
.diesciseis{
    background-color:#E8E8E8; 
}
.diesisiete{
    background-color:#E8E8E8; 
}
.diesiocho{
    background-color:lightskyblue; 
}
.diesinueve{
    background-color:lightskyblue; 
}
.veinte{
    background-color:#E8E8E8; 
}
.veinte_1{
    background-color:#E8E8E8; 
}
.veinte_2{
    background-color:lightskyblue; 
}
.veinte_3{
    background-color:lightskyblue;
}
.veinte_4{
    background-color:#E8E8E8;  
}
.veinte_5{
    background-color:#E8E8E8; 
}
.veinte_6{
    background-color:lightskyblue; 
}
.veinte_7{
    background-color:lightskyblue;  
}
.veinte_8{
    background-color:#E8E8E8; 
}
.veinte_9{
    background-color:#E8E8E8; 
}
.treinta{
    background-color:lightskyblue; 
}
.treinta_1{
    background-color:lightskyblue; 
}
.treinta_2{
    background-color:#E8E8E8; 
}
.treinta_3{
    background-color:#E8E8E8; 
}
.treinta_4{
    background-color:lightskyblue; 
}
.treinta_5{
    background-color:lightskyblue; 
}
.treinta_6{
    background-color:#E8E8E8; 
}
.treinta_7{
    background-color:#E8E8E8; 
}
.treinta_8{
    background-color:lightskyblue; 
}
.treinta_9{
    background-color:lightskyblue;  
}
.cuarenta{
    background-color:#E8E8E8; 
}
.cuarenta_1{
    background-color:#E8E8E8; 
}
.cuarenta_2{
    background-color:lightskyblue; 
}
.cuarenta_3{
    background-color:lightskyblue; 
}
.cuarenta_4{
    background-color:#E8E8E8; 
}
.cuarenta_5{
    background-color:#E8E8E8;  
}
.cuarenta_6{
    background-color:lightskyblue; 
}
.cuarenta_7{
    background-color:lightskyblue;  
}
.cuarenta_8{
    background-color:#E8E8E8; 
}
.cuarenta_9{
    background-color: #E8E8E8; 
}
.cincuenta{
    background-color:lightskyblue; 
}
.cincuenta_1{
    background-color:lightskyblue; 
}
.cincuenta_2{
    background-color:#E8E8E8; 
}
.cincuenta_3{
    background-color:#E8E8E8;  
}
.cincuenta_4{
    background-color:lightskyblue; 
}
.cincuenta_5{
    background-color:lightskyblue; 
}
.cincuenta_6{
    background-color:#E8E8E8; 
}
.cincuenta_7{
    background-color:#E8E8E8; 
}
.cincuenta_8{
    background-color:lightskyblue; 
}
.cincuenta_9{
    background-color:lightskyblue; 
}
.sesenta{
    background-color:#E8E8E8; 
}
.sesenta_1{
    background-color: #E8E8E8;
}
.sesenta_2{
    background-color:lightskyblue; 
}
.sesenta_3{
    background-color: lightskyblue;
}
.sesenta_4{
    background-color:#E8E8E8; 
}
.sesenta_5{
    background-color:#E8E8E8; 
}
.sesenta_6{
    background-color:lightskyblue; 
}
.sesenta_7{
    background-color:lightskyblue; 
}
.sesenta_8{
    background-color:#E8E8E8; 
}
.sesenta_9{
    background-color:#E8E8E8;  
}
.setenta{
    background-color: lightskyblue;
}
.setenta_1{
    background-color: lightskyblue;
}
.setenta_2{
    background-color:#E8E8E8;  
}
.setenta_3{
    background-color: #E8E8E8;
}
.setenta_4{
    background-color:  lightskyblue;
}
.imagenes{
    background-color: black;
    padding: 20px 30px 900px 80px;
    margin: 45px;
    border-radius: 10%
}
.imagenes_2{
   
    margin: 11px;
    background-color: blue;
    width: 200px;
    height: 300px; 
    text-align: center;
    background-image: url(../img/div2.jpg);
    background-repeat: no-repeat;
    background-size: 100% 100%;
    float: left;
    border-radius: 10%
}
.pepe{
    margin: 0px;
    background-color: white;
    width: 200px;
    height: 30px; 
    text-align: center;
}
.imagenes_3{
    margin: 11px;
    background-color: yellow;
    width: 200px;
    height: 300px; 
    text-align: center;
     background-image: url(../img/clasesdiv.jpg);
    background-repeat: no-repeat;
    background-size: 100% 100%;
    float: left;
    border-radius: 10%
}
.pepe_2{
    margin: 0px;
    background-color: white;
    width: 200px;
    height: 30px; 
    text-align: center;
}
.imagenes_4{
    margin: 11px;
    background-color: yellow;
    width: 200px;
    height: 300px; 
    text-align: center;
    background-image: url(../img/section.jpg);
    background-repeat: no-repeat;
    background-size: 100% 100%;
    float: left;
    border-radius: 10%
}
.pepe_3{
    margin: 0px;
    background-color: white;
    width: 200px;
    height: 30px; 
    text-align: center;
}
.imagenes_5{
    margin: 11px;
    background-color: yellow;
    width: 200px;
    height: 300px; 
    text-align: center;
    float: left;
    background-image: url(../img/ul.jpg);
    background-repeat: no-repeat;
    background-size: 100% 100%;
    border-radius: 10%
}
.pepe_4{
    margin: 0px;
    background-color: white;
    width: 200px;
    height: 30px; 
    text-align: center;
    
}
.imagenes_6{
    margin: 11px;
    background-color: yellow;
    width: 200px;
    height: 300px; 
    text-align: center;
    background-image: url(../img/img1.jpg);
    background: cover;
    border-radius:10%;
    
    
   float: left;
}
.pepe_5{
    margin: 0px;
    background-color: white;
    width: 200px;
    height: 30px; 
    text-align: center;
   }
@media screen and (max-width:700px){
    .tata{
        
         padding:0px 150px;
       width: 0px 390px
       
    }
}
@media screen and (max-width:700px){
    .bio{
        background-color: black;
        width:590px;
        height: 50px;
        text-align: center;
         
        
    }
}
@media screen and (max-width:700px){
    li{
        background-color: black;
        margin:5px;
        width: 200px
        
    }
}
@media screen and (max-width:700px){
    ul.nav{
        background-color: black;
        width:60px;
        height: 50px
    }
}
@media screen and (max-width:700px){
    div.cabecera{
       padding:0px 150px;
        width:390px
        
    }
}
@media screen and (max-width:700px){
    p.listo{
        padding:0px 150px;
        width: 390px;
    }
}
@media screen and (max-width:700px){
    table.tata{
        padding:0px 10px 0px 60px;
        width: 600px;
    }
}

@media screen and (max-width:700px){
    h1.nosi{
        padding:0px 150px;
        width:390px;
    }
}
@media screen and (max-width:700px){
    .tabla2{
       padding:0px 0px 0px 0px;
        width: 590px;
        
    }
}
@media screen and (max-width:700px){
    table.tabla2{
        margin:50px;
    }
}
@media screen and (max-width:700px){
    h1.objetos{
        padding:0px 150px;
        width:390px;
    }
}
@media screen and (max-width:700px){
    .Tito{
        padding:0px 0px 0px 0px;
        width: 590px;
        background-color: red;
    }
}
@media screen and (max-width:700px){
    table.Tito{
         margin:50px;
    }
}
@media screen and (max-width:700px){
    h1.listado{
        padding:0px 150px;
        width:390px;
    }
}
@media screen and (max-width:700px){
    .chepa{
        padding:0px 0px 0px 0px;
        width: 590px;
        background-color: red;
    }
}
@media screen and (max-width:700px){
    table.chepa{
        margin:50px;
    }
}
@media screen and (max-width:700px){
    h1.pixeles{
        padding:0px 150px;
        width:390px;
    }
}
@media screen and (max-width:700px){
    .holi{
        padding:0px 0px 0px 0px;
        width: 590px;
        background-color: red; 
    }
}
@media screen and (max-width:700px){
    table.holi{
       margin:50px; 
    }
}
@media screen and (max-width:700px){
    h1.natore{
        padding:0px 150px;
        width:390px;
    }
}
@media screen and (max-width:700px){
    .imagenes{
        
        width:490px;
        height: 100px
    }
}


